---
name: Validate

on:
  push:
    branches:
      - 'build/*'
      - 'chore/*'
      - 'ci/*'
      - 'docs/*'
      - 'feat/*'
      - 'fix/*'
      - 'perf/*'
      - 'refactor/*'
      - 'revert/*'
      - 'style/*'
      - 'test/*'
      - 'release/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  commitlint:
    name: CommitLint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout client-application repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn

      - name: commitlint
        run: yarn lint.commit

  validation-matrix:
    uses: romain-cambonie/serenity-workflows/.github/workflows/_validation-matrix.reusable.yml@master
    with:
      commands-as-comma-separated-string: 'lint.es,prettier.check,test,build'

  transform-and-publish:
    strategy:
      matrix:
        source: [hinaura, maine-et-loire, les-assembleurs]
    runs-on: ubuntu-latest
    environment: demo

    steps:
      - name: Checkout client-application repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn

      - name: Transform
        run:
          yarn transformer.${{ matrix.source }}

      - name: 'Create env file'
        run: |
          touch .env
          echo DATA_GOUV_API_URL="${{ secrets.DATA_GOUV_API_URL }}" >> .env
          echo DATA_GOUV_API_KEY="${{ secrets.DATA_GOUV_API_KEY }}" >> .env
          echo DATA_GOUV_REFERENCE_ID="${{ secrets.DATA_GOUV_REFERENCE_ID }}" >> .env
          echo DATA_GOUV_REFERENCE_TYPE="${{ secrets.DATA_GOUV_REFERENCE_TYPE }}" >> .env

      - name: Publish
        run:
          yarn publier.${{ matrix.source }}
