---
name: Validate

on:
  push:
    branches:
      - 'main'
      - 'build/*'
      - 'chore/*'
      - 'ci/*'
      - 'docs/*'
      - 'feat/*'
      - 'fix/*'
      - 'perf/*'
      - 'refactor/*'
      - 'revert/*'
      - 'style/*'
      - 'test/*'
      - 'release/*'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  commitlint:
    name: CommitLint
    runs-on: ubuntu-latest

    steps:
      - name: Checkout client-application repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '16.x'
          cache: 'yarn'

      - name: Install dependencies
        run: yarn

      - name: commitlint
        run: yarn lint.commit

  validation-matrix:
    uses: romain-cambonie/serenity-workflows/.github/workflows/_validation-matrix.reusable.yml@master
    with:
      commands-as-comma-separated-string: 'lint.es,prettier.check,test,build'
